[submodule "interactive-git-checkout"]
	path = interactive-git-checkout
	url = https://github.com/Chiel92/interactive-git-checkout
[submodule "python-shellout"]
	path = python-shellout
	url = https://github.com/Chiel92/python-shellout
[submodule "replac"]
	path = replac
	url = https://github.com/Chiel92/replac
[submodule "ansi16"]
	path = ansi16
	url = https://github.com/chtenb/ansi16
