[user]
    name = Chiel ten Brinke
    email = chiel.tenbrinke@intellimagic.com
[push]
    default = simple
[credential]
    ;helper = cache
    helper = wincred
[merge]
    tool = kdiff3
[mergetool "meld"]
    path = C:/Program Files (x86)/Meld/Meld.exe
    cmd = \"C:/Program Files (x86)/Meld/Meld.exe\" --diff $LOCAL $BASE $REMOTE --output $MERGED
[mergetool "kdiff3"]
    path = c:/Program Files/KDiff3/kdiff3.exe
[diff]
    guitool = kdiff3
[difftool "kdiff3"]
    path = C:/Program Files/KDiff3/kdiff3.exe
[core]
    fscache = true
    preloadindex = true
    editor = vim -u ~/.vimrc.bare
    whitespace = cr-at-eol
    trustctime = false
    filemode = false
[guitool "Pull"]
    cmd = "git remote update --prune; git pull origin $(git symbolic-ref HEAD | sed s/refs.heads.//)"
[guitool "Update remote namespace"]
    cmd = git remote update --prune
    noconsole = yes
[guitool "vdiff"]
    cmd = git vdiff
    noconsole = yes
[guitool "p4diff"]
    cmd = git p4diff
    noconsole = yes
[guitool "Clean"]
    cmd = git clean -x -d -f
[guitool "Reset and Clean"]
    cmd = "git reset --hard ; git clean -x -d -f"
[gui]
    gcwarning = false
    recentrepo = C:/Projects/StorageMagic
[alias]
    vdiff = !sh gitvdiff
    p4diff = !sh gitp4diff
    vbdiff = !sh gitvbdiff
    drlog = !sh -c 'git log --pretty=tformat:%s $0 | sed -nre \"s/^(DR|FR|B)-?([[:digit:]]+).*/\\U\\1-\\2/Ip\" | sort | uniq'
    drlogx = !sh -c 'git drlog $0 | powershell -NoProfile -ExecutionPolicy Bypass -File /cmd/Get-DRDetails.ps1'
    iclone = !sh -c 'git clone --recurse ssh://intellimagic@imcentos-git/~/$0.git && installhooks.sh $0/.git'
    uclone = !sh -c 'git clone --recurse ssh://$(whoami)@development.urios.nl/srv/git/$0.git && installhooks.sh $0/.git'
    getmodules = !sh -c 'git submodule update --init --recursive && installhooks.sh ./.git'

    lg = log --notes --graph --decorate --oneline --color=always
    lga = log --all --notes --graph --decorate --oneline --color=always
    rlog = !"git --no-pager log --all --graph --decorate --oneline --color=never | tac | awk -f ~/switchslashes.awk | less -X +G -r"

    di = diff --color-words="."
    sh = show --color-words="."
    dif = diff --color-words="[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+"
    sho = show --color-words="[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+"

    last = log -1 --stat
    cp = cherry-pick
    co = checkout
    cl = clone
    ci = commit
    st = status -sb
    br = branch
    unstage = reset HEAD --
    dc = diff --cached
    pushf = push --force-with-lease
[fetch]
    recurseSubmodules = true
[gc]
    auto = 256
[color]
    ui = true
[mergetool]
    keeptemporaries = false
    keepbackups = false
    prompt = false
    trustexitcode = false
