[user]
    name = Chiel ten Brinke
    email = ctje92@gmail.com
[core]
    editor = vim
[giggle]
    main-window-maximized = true
    main-window-geometry = 0x0+0+0
    history-view-vpane-position = 139
    file-view-vpane-position = 704
    main-window-view = HistoryView
[push]
    default = simple
[credential]
    helper = cache
[alias]
    print = log --all --graph --decorate --oneline
[fetch]
    recurseSubmodules = true
