[submodule "interactive-git-checkout"]
	path = interactive-git-checkout
	url = https://github.com/chtenb/interactive-git-checkout
[submodule "python-shellout"]
	path = python-shellout
	url = https://github.com/chtenb/python-shellout
[submodule "replac"]
	path = replac
	url = https://github.com/chtenb/replac
[submodule "neo-ansi"]
	path = neo-ansi
	url = https://github.com/chtenb/neo-ansi
[submodule "helix.vim"]
	path = helix.vim
	url = https://github.com/chtenb/helix.vim
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/fzf-tab"]
	path = zsh/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/fast-syntax-highlighting"]
	path = zsh/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
