
set ignorecase      " Do case insensitive matching
set smartcase       " Do smart case matching
set hlsearch        " highlight search
set incsearch       " Incremental search
set gdefault        " auto g flag for substitution

" Indentation stuff
set softtabstop=4
set tabstop=4
set shiftwidth=4
set expandtab

set textwidth=100

set autoindent

"Disable annoying help
nnoremap <F1> <Esc>
inoremap <F1> <Esc>
vnoremap <F1> <Esc>
"Disable annoying record mode
nnoremap q <nop>
" Give Y a sane meaning
nnoremap Y y$
" Give U a sane meaning and avoid conflicts with resharper
nnoremap U <C-r>
" Hide highlighting
nnoremap <C-c> :noh<CR>
" Enable block select
nnoremap Q <C-v>
